/* accordian for commands.html */

.accordion-header {
    cursor: pointer;
    position: relative;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.accordion-content.active {
    max-height: 1000px; /* Increased to accommodate more content */
    opacity: 1;
}

.accordion-item {
    border-top: 1px solid var(--text-color-light);
    border-bottom: 1px solid var(--text-color-light);
}

body.dark-mode .accordion-item {
    border-top: 1px solid var(--text-color-dark);
    border-bottom: 1px solid var(--text-color-dark);
}

.accordion-header span {
    transition: transform 0.3s ease;
    text-decoration: none;
    display: inline-block;
    position: relative;
    line-height: 1;
}

.accordion-header.active span {
    transform: rotate(45deg);
}
