:root {
    --text-color-light: #000000;
    --background-color-light: #ffffff;
    --text-color-dark: #ffffff;
    --text-color-dark-foot: #000000;
    --background-color-dark: #333333;
    --header-footer-color-light: #ffff00;
    --header-footer-color-dark: #FFD700;
    --link-color-light: #FFD700; 
    --link-color-dark: #09e1ec; 
}

/* Styles for hyperlinks in light mode */
body:not(.dark-mode) a {
    color: var(--link-color-light);
    text-decoration: none;
}

/* Styles for hyperlinks in dark mode */
body.dark-mode a {
    color: var(--link-color-dark);
}

/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color-light);
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;
}

body.dark-mode {
    color: var(--text-color-dark);
    background-color: var(--background-color-dark);
}

/* Header styles */
.header-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--header-footer-color-light);
    color: #333;
}

.title-div {
    text-align: center;
    flex-grow: 1;
}

#mode-icon {
    width: 40px; 
    height: auto; 
}

#mode-toggle-container {
    padding: 10px;
}

#mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

body.dark-mode .header-class {
    background-color: var(--header-footer-color-dark);
}

/* Hamburger menu styles */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-menu div {
    width: 2rem;
    height: 0.25rem;
    background: var(--text-color-light);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.hamburger-menu.toggle div:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger-menu.toggle div:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.toggle div:nth-child(3) {
    transform: rotate(45deg) translate(-9px, -6px);
}

/* Navigation styles */
.nav-class {
    display: none;
    justify-content: space-around;
    background-color: var(--header-footer-color-light);
    padding: 10px 0;
}

.nav-class.show {
    display: flex;
}

body.dark-mode .nav-class {
    background-color: var(--header-footer-color-dark);
}

.nav-class ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-class li {
    margin: 0 10px;
}

.nav-class a {
    color: #fff;
    text-decoration: none;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

body.dark-mode .nav-class a {
    color: var(--text-color-dark);
    background-color: #777;
}

.nav-class a:hover {
    background-color: #777;
}

.width-wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2em 2em;
    margin-bottom: 3em;
    flex: 1 0 auto;
    background-color: var(--background-color-light);
}

body.dark-mode .width-wrap {
    background-color: var(--background-color-dark);
}

/* Main content styles */

#about-me {
    display: grid;
    justify-items: center;
}

#about-me .accordion {
    justify-self: start; 
    width: 100%; 
}

#about-me h3 {
    text-align: center;
  }


.main-class {
    padding: 20px;
    background-color: var(--background-color-light);
    margin-bottom: 40px; 
}

body.dark-mode .main-class {
    background-color: var(--background-color-dark);
}


/* Footer styles */
.footer-class {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
}

body.dark-mode .footer-class {
    background-color: var(--header-footer-color-dark);
    color: var(--text-color-dark-foot);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-left: auto; /* Align to the right */
}

.social-icons img {
    height: 21px;
    width: auto; /* Maintain aspect ratio */
}

.github-icon {
    filter: invert(100%);
}

body.dark-mode .github-icon {
    filter: invert(0%);
}

/* Light mode code block styles (VS Code dark theme) */
code {
    background-color: #1E1E1E; /* VS Code dark background color */
    color: #D4D4D4; /* VS Code light text color */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px 4px;
    font-family: monospace;
}

/* Dark mode code block styles (VS Code light theme) */
body.dark-mode code {
    background-color: #FCFCFC; /* VS Code light background color */
    color: #333333; /* VS Code dark text color */
}

/* Mobile styles */
@media (max-width: 768px) {
    .nav-class {
        flex-direction: column;
        align-items: center;
    }

    .nav-class li {
        margin: 10px 0;
    }

    .width-wrap {
        padding: 0 1em;
    }
}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .nav-class {
        justify-content: center;
    }
}

#back-to-top {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #000; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#back-to-top:hover {
    background-color: #555; 
}

#contact-me {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333; /* Dark background for light mode */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff; /* White text color for dark background */
}

body.dark-mode #contact-me {
    background-color: #ffffff; /* Light background for dark mode */
    color: #000000; /* Black text color for light background */
}

#contact-me h3 {
    text-align: center;
    margin-bottom: 20px;
}

#contact-me .contact-details {
    text-align: center;
    margin-bottom: 20px;
}

#contact-me .contact-details p {
    margin: 5px 0;
}

#contact-me .contact-details a {
    color: #0073e6;
    text-decoration: none;
}

body.dark-mode #contact-me .contact-details a {
    color: #09e1ec; /* Dark mode link color */
}

#contact-me .contact-details a:hover {
    text-decoration: underline;
}

#contact-me .contact-form {
    display: flex;
    flex-direction: column;
}

#contact-me .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

#contact-me .contact-form input,
#contact-me .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body.dark-mode #contact-me .contact-form input,
body.dark-mode #contact-me .contact-form textarea {
    background-color: #f9f9f9; /* Light background for dark mode */
    color: #000000; /* Black text color for light background */
    border: 1px solid #777777; /* Dark mode input border */
}

#contact-me .contact-form button {
    padding: 10px 15px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact-me .contact-form button:hover {
    background-color: #005bb5;
}

/* Tab button styles */
.tab {
    overflow: hidden;
    background-color: var(--header-footer-color-light);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

body.dark-mode .tab {
    background-color: var(--header-footer-color-dark);
}

.tab button {
    background-color: inherit;
    color: var(--text-color-light);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

body.dark-mode .tab button {
    color: #000; /* Set text color to black in dark mode */
}

.tab button:hover {
    background-color: #ddd;
}

body.dark-mode .tab button:hover {
    background-color: #555;
}

.tab button.active {
    background-color: #ccc;
    color: #fff; /* Set text color to white when active */
}

body.dark-mode .tab button.active {
    background-color: #777;
    color: #fff; /* Set text color to white when active in dark mode */
}

/* Tab content styles */
.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark-mode .tabcontent {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

#split {
    text-align: center;
}

.github-logo {
    filter: invert(0%);
}

body.dark-mode .github-logo {
    filter: invert(100%);
}